.input-container, .button-container, .output-container {
    width: 100%;
    max-width: 600px;
    background-color: #c0ffc0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.input-container::after {
    content: "";
    clear: both;
    display: table;
    border-radius: 10px;
}

.input-field, .operation-field, .button, .output-field {
    background-color: #c0ffc0;
    border-style: dotted;
    border-color: red;
    border-radius: 10px;
    border-width: 2px;
    color: red;
    font-weight: bold;
    box-sizing: border-box;
}

.input-field {
    width: 100%;
    height: 45px;
    font-size: 16pt;
    margin: 10px 0;
    padding: 10px;
}

.operation-field {
    width: 100%;
    height: 45px;
    font-size: 16pt;
    margin: 10px 0;
    padding: 10px;
}

.button {
    width: 100%;
    height: 45px;
    font-size: 14pt;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.output-field {
    width: 100%;
    height: 120px;
    font-size: 15pt;
    padding: 15px;
    margin: 10px 0;
    overflow-y: auto;
    white-space: pre-wrap;
}

.faded-text {
    color: rgba(255, 0, 0, 0.5);
    font-weight: normal;
}

@media screen and (min-width: 600px) {
    .input-field {
        width: calc(50% - 20px);
        margin: 10px;
    }

    .operation-field {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .button {
        width: 200px;
    }

    .output-field {
        width: 100%;
    }
}
